@model Core.Entities.Data.PartData.PartMaster
@using AspNetGroupBasedPermissions.Helpers
@{ ViewBag.Title = "Detail Part";}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PartID)

    <div id="mainbox" class="row">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="panel-heading btn-primary modal-header">
                    <center class="panel-title" style="min-height:10px;">
                        <h4 style="font-weight:300">Detail Part</h4>
                    </center>
                </div>
                <div class="modal-body">
                    <tr>
                        <td>
                            <center>
                                <h2 style="font-weight:bolder">Part Image</h2>
                            </center>
                            <center style="background-color:lightgray">
                                @if (Model.PartImageFileType == "PDF")
                                {
                                    <object data="data:application/pdf;base64,@System.Convert.ToBase64String((Byte[])ViewData["Image"])" type="application/pdf" width="500px"></object>
                                }
                                @if (Model.PartImageFileType == "Image")
                                {
                                    <img style="padding:15px;max-width:400px;max-height:400px" src="data:image/*;base64,@(Convert.ToBase64String(Model.PartImage))">
                                }
                            </center>
                        </td>
                        <td>
                            <center>
                                <h2 style="font-weight:bolder">Drawing Image</h2>
                            </center>
                            <center style="background-color:lightgray">
                                @if (Model.PartDrawingFileType == "PDF")
                                {
                                    <object data="data:application/pdf;base64,@System.Convert.ToBase64String((Byte[])ViewData["Drawing"])" type="application/pdf" width="500px"></object>
                                }
                                @if (Model.PartDrawingFileType == "Image")
                                {
                                    <img style="padding:15px;max-width:400px;max-height:400px" src="data:image/*;base64,@(Convert.ToBase64String(Model.PartDrawingImage))">
                                }
                            </center>
                        </td>
                    </tr>
                    <table class="table table-condensed table-striped table-bordered">
                        <tr></tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part ID</td>
                            <td>
                                @Html.EditorFor(model => model.PartID, new { htmlAttributes = new { @disabled = "true", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.PartID)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part No</td>
                            <td>
                                @Html.EditorFor(model => model.PartNo, new { htmlAttributes = new { @disabled = "true", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.PartNo)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Item No</td>
                            <td>
                                @Html.EditorFor(model => model.ItemNo, new { htmlAttributes = new { @disabled = "true", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.ItemNo)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part Name</td>
                            <td>
                                @Html.EditorFor(model => model.PartName, new { htmlAttributes = new { @disabled = "true", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.PartName)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Category</td>
                            <td>
                                @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)Session["CategoryID"], " --Select SCategory-- ", new { @disabled = "true", @class = "form-control", @required = "required", @style = "font-size:12px;height:30px;" })
                                @Html.HiddenFor(model => model.CategoryID)
                                @Html.ValidationMessageFor(model => model.CategoryID)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Description</td>
                            <td>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @disabled = "true", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.Description)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Is Active?</td>
                            <td>
                                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @disabled = "true", @style = "font-size:11px;height:18px;color:black", } })
                                @Html.ValidationMessageFor(model => model.IsActive)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Status</td>
                            <td>
                                @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @disabled = "true", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.Status)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.ActionLink("Cancel", "IndexPartStoreInv", null, new { @class = "btn btn-white" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">

        $(document).ready(function () {

            $("#transactiondate").datepicker({
                todayBtn: "linked",
                format: "dd/mm/yyyy",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            }).datepicker("setDate", new Date());


        });

    </script>
}
