@model Core.Entities.Data.PartData.PartTransferChargeOut
@using AspNetGroupBasedPermissions.Helpers
@{ ViewBag.Title = "Create Transfer";}
@{
    Layout = "~/Views/Shared/_LayoutPopUp.cshtml";
}


@using (Html.BeginForm("CreatePartTransferCO", "PartTransferChargeOut", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.PartTransferChargeOutID)
  

    <div id="addcocbox" class="row" style="width:auto;max-width:750px">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="panel-heading btn-primary modal-header">
                    <center class="panel-title" style="min-height:10px;">
                        <h4 style="font-weight:300">Create New Transfer</h4>
                    </center>
                </div>

                <div class="modal-body">
                    <table class="table table-condensed table-striped table-bordered">
                        <tr></tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part Name</td>
                            <td style="padding-top:7px;max-height:28px;font-size:11px;color:blue" class="form-control">@ViewBag.PartName</td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part No</td>
                            <td style="padding-top:7px;max-height:28px;font-size:11px;color:blue" class="form-control">@ViewBag.PartNo</td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part Category</td>
                            <td style="padding-top:7px;max-height:28px;font-size:11px;color:blue" class="form-control">@ViewBag.PartCategory</td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part Maker</td>
                            <td style="padding-top:7px;max-height:28px;font-size:11px;color:blue" class="form-control">@ViewBag.MakerName</td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Part Vendor</td>
                            <td style="padding-top:7px;max-height:28px;font-size:11px;color:blue" class="form-control">@ViewBag.VendorName</td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Current Qty</td>
                            <td style="padding-top:7px;max-height:28px;font-size:11px;color:blue" class="form-control">@ViewBag.CurrentQty</td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Quantity</td>
                            <td>
                                @Html.EditorFor(model => model.Qty, new { htmlAttributes = new { @id = "requestqty", @Value = "0", @onchange = "CheckStockQty(this.value)", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.Qty)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Balance</td>
                            <td>
                                @Html.EditorFor(model => model.Balance, new { htmlAttributes = new { @id = "balanceqty", @Value = "0", @disabled = true, @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.Balance)
                                <input hidden id="bal" type="text" name="balance" />
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Description</td>
                            <td>
                                <input hidden type="text" name="partid" value="@ViewBag.PartID" />
                                <input hidden type="text" name="cabinetid" value="@ViewBag.CabinetID" />
                                <input hidden type="text" name="price" value="@ViewBag.Price" />
                                <input hidden type="text" name="makerid" value="@ViewBag.MakerID" />
                                <input hidden type="text" name="vendorid" value="@ViewBag.VendorID" />

                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @id = "reportName1", @name = "reportName1", @class = "form-control", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.Description)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="savebutton" type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "IndexPartStoreInv", null, new { @class = "btn btn-white" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">

        function CheckStockQty(transferqty) {
            var currqty = @ViewBag.CurrentQty;
            var reqqty = document.getElementById('requestqty').value;
            var balqty = currqty - reqqty;
            document.getElementById('balanceqty').value = balqty;
            document.getElementById('bal').value = balqty;

            if (balqty < 0) {
                document.getElementById("savebutton").style.visibility = "hidden";
                alert("Request Quantity Is Not Enough");
                document.getElementById('requestqty').value = 0;
            }
            else {
                document.getElementById("savebutton").style.visibility = "visible";
            }
        }


        $(document).ready(function () {

            $("#transactiondate").datepicker({
                todayBtn: "linked",
                format: "dd/mm/yyyy",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            }).datepicker("setDate", new Date());
        });

    </script>
}
