@using AspNetGroupBasedPermissions;

@{
    ViewBag.Title = "Report";
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/imagecropperStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/clockpicker")
    @Scripts.Render("~/plugins/imagecropper")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">
        $(document).ready(function () {

            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                format: "dd/mm/yyyy",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            }).datepicker("setDate", new Date());
        });

    </script>



}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)



    <div class="col-md-3"></div>

    <div class="col-md-6">

        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row">
                    <span class="label label-info">Print Option : List of IIR</span>
                    <hr />

                    <div class="form-group">
                        @Html.Label("Location", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.DropDownList("LocationCode", ViewData["Locations"] as SelectList, "All", htmlAttributes: new { @class = "form-control m-b-xs", id = "txtLocCode" })
                        </div>
                    </div>
                    <div class="form-group" id="data_1">
                        @Html.Label("From Date", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.TextBox("txtstartDate", "DateTime", new { @class = "form-control m-b-xs" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="data_1">
                        @Html.Label("To Date", new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.TextBox("txtendDate", "DateTime", new { @class = "form-control m-b-xs" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                    <div class="col-md-6">
                        <input type="submit" value="Show Report" class="btn btn-primary block full-width m-b" formtarget="_blank" />
                    </div>
                    <div class="col-md-6">
                        <input type="submit" value="Reset" class="btn btn-white block full-width m-b" formtarget="_blank" />
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </div>

            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-3"></div>




}
