@model Core.Entities.Data.PartData.Category
@using AspNetGroupBasedPermissions.Helpers
@{ ViewBag.Title = "Create Category";}
@{
    Layout = "~/Views/Shared/_LayoutPopUp.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="addcocbox" class="row" style="width:auto;max-width:750px">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="panel-heading btn-primary modal-header">
                    <center class="panel-title" style="min-height:10px;">
                        <h4 style="font-weight:300">Create New Category</h4>
                    </center>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed table-striped table-bordered">
                        <tr></tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Category Name</td>
                            <td>
                                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @id="categoryname" ,maxlength=150, @required= "true", @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.CategoryName)
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:13px;font-weight:700">Description</td>
                            <td>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", maxlength=300, @style = "font-size:11px;height:28px;color:black;font-size:11px", } })
                                @Html.ValidationMessageFor(model => model.Description)
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btnSave" type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Cancel", "IndexCategory", null, new { @class = "btn btn-white" })
                    </div>
                </div>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/plugins/dataPicker")

    <script type="text/javascript">

          $('#categoryname').change(function () {
             var categoryname = $('#categoryname').val();
                $.ajax({
                    url: "/Category/CheckDuplicate",
                    dataType: "json",
                    type: "GET",
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    data: { categoryname: categoryname },
                    success: function (data) {
                        if (data.success) {
                         document.getElementById("btnSave").style.visibility = "visible";
                        }
                        else {
                            document.getElementById("btnSave").style.visibility = "hidden";
                            alert('Category Already Exist!!!');
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
         });


        $(document).ready(function () {

            $("#transactiondate").datepicker({
                todayBtn: "linked",
                format: "dd/mm/yyyy",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            }).datepicker("setDate", new Date());
        });

    </script>
}
